body {
    font-family: sans-serif;
}
div.name-title {
    display: flex;

    font-size: 1.5em;
    margin: 0.83em 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
div.reduction {
    display: flex;
    justify-content: center;
}
div.reduction-0 {
    column-gap: 3px;
}
div.reduction-2 {
    color: gray;
}
div.letter-title {
    display: flex;
    flex-direction: column;

    text-align: center;

    box-shadow: 1px 1px #e3e3e3;
}
div.letter-title>span:last-child {
    color: gray;
}
