body {
    font-family: sans-serif;
}
.number-name {
    display: flex;
}
.number-name>div>div {
    display: flex;
    column-gap: 3px;
    justify-content: center;
}
.number-name>div>div:nth-child(3) {
    color: gray;
}
.number-name>div>div>div {
    display: flex;
    flex-direction: column;

    text-align: center;

    box-shadow: 1px 1px #e3e3e3;
}
.number-name>div>div>div>span:last-child {
    color: gray;
}
