div.name-filtered,
div.name-title {
    display: flex;

    margin: 0.83em 0px;
    unicode-bidi: isolate;
}

div.reduction {
    display: flex;
    justify-content: center;
}
div.reduction-0 {
    column-gap: 3px;
}
div.reduction-1 {
    font-weight: bold;
}
div.reduction-2 {
    color: #4d5e91;
}

div.letter-filtered,
div.letter-title {
    display: flex;
    flex-direction: column;

    text-align: center;

    box-shadow: 1px 1px #e3e3e3;
}

div.letter-title>span:first-child {
    font-size: 1.5em;
    font-weight: bold;
}
div.letter-filtered>span:first-child {
    font-weight: bold;
}
