body {
    font-family: sans-serif;
    --gray: #4d5e91;
}

.gray {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--gray);
}

.label {
    font-weight: bold;
    text-decoration: underline;
}